/* GLOBAL */
body{
	background: url("../img/bg.png");
	color: white;
}

h1, h2, h3{
	font-family: 'PT Serif', serif;
}

li{
	list-style-type: none;
}

a:link{
	text-decoration: none;
	color: white;
	font-size: 20px;
	float: left;
	padding: 10px;
}
/* LAYOUT */
.container {
	width: 90%;
	background: #303636;
	margin: 0 auto;
}

/* Adaptive Content */
iframe, img {
	max-width: 100%;
	width: 100%;
}

article section {
	width: 44%;
	float: left;
	padding: 3%;
}

/*Desktop Query */
@media (min-width: 960px){
	#home {
		width: 300px;
	}
}

/* Tablet Query */
@media (max-width: 768px){

}

/* Phone Query */
@media (max-width: 480px){

	article section {
		width: 96%;
		float: none;
		padding: 3%;
	}
}